.conterow {
    color: white;
    width: 90%;
    position: 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    background-color: rgb(39, 161, 236);
    border-radius: 5px;
    padding: 10px;
}
.container1 {
    background-color: white;
    border: solid 5px white;
    border-radius: 5px;
    margin-top: 5%;
    margin-inline-end:5%;
    margin-inline-start:5%;
    width: 90%;
    height: 50%;
    font-size: larger;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding:20px;
    position:0;
    
}

.Cuerpo {
    background: url('https://fondosmil.co/fondo/27475.jpg');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.colorContenedor {
    background-color: rgb(39, 161, 236);
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    background-color:dodgerblue;
    border-radius: 10px;
    width: 90%;
}

.boton {
    width: 100%;
    background-color: rgb(39, 161, 236);
    border: 1px solid white;
}

    .boton:hover {
        width: 100%;
        background-color: white;
        color: black;
    }

.row {
    width: 100%;
}

.campo-pequeno {
    width: 100%;
    font-size: small;
}

.boton-reducido {
    width: 75%;
    background-color: rgb(39, 161, 236);
    border: 1px solid white;
}

.boton-reducido:hover {
    background-color: white;
    color: black;
}

.Boder {
    border: 2px solid black;
}

.form-control {

    font-size: small;
}

.imagen {
    width: 25%;
    height: 25%;
}

.tabla {
    margin-top: 2.5%;
    font-size: small;
    padding: 40px;
    text-align: center;
}
.mb-3 {
    border-top: 2px solid rgb(39, 161, 236);
}

.form-label {
    font-size: medium;
}
.imag {
    width: 100%;
    height: 100%;
}
.image {
    width: 100%;
    height: 100%;
    padding: 40px;
    position: center;
    border-bottom: 2px solid rgb(39, 161, 236);
}
.boto{
    margin-top:10px;
    height:100%;
    width:90%;
}
.row{
    padding:2.5%;
}
.alerta {
    width:50px;
}