@{
    ViewData["Title"] = "Not Found";
}

<div class="d-flex justify-content-center align-items-center text-center vh-100">
    <div>
        <h1 class="display-4 fw-bold" style="color: var(--color-gold) ">Oops! Page Not Found</h1>
        <p class="lead" style="color: #7C561C">The page you are looking for doesn't exist.</p>
        <img src="~/images/NotFound.webp" alt="Page not found" class="img-fluid my-4" style="max-width: 300px;">
        <div class="mt-3">
            <a href="/" class="btn w-100 mb-3 p-2 fw-bold" id="session-button" style="color: var(--color-cream)">Go
                Back</a>
        </div>
    </div>
</div>
